*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Arial;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iphone-container {
    position: relative;
    width: 300px;
    height: 600px;
    background: url(../img/wallpaper.jpg) 100% / cover no-repeat;
    border-radius: 50px;
    border: 8px solid black;
}


// Inner content

.inner {
    position: absolute;
    inset: 3px;
    display: flex;
    justify-content: center;
}

// popup

.island-popup {
    display: flex;
    align-items: center;

    position: absolute;
    top: 10px;
    width: 80px;
    height: 25px;
    background-color: #000;
    border-radius: 20px;
    transition: 0.5s ease-in-out;

    

    &:hover {
        width: 220px;
        height: 25px;
        cursor: pointer;

        .island-image {
            margin-left: 25px;
            transition: 0.5s all ease-in-out;
        }

        .island-heading {
            display: block;
            transition: 0.5s ease-in;
        }
    }

    &.active {
        width: 250px;
        height: 120px;

        .island-image {
            display: none;
        }
        .island-heading {
            display: none;
        }
    }

    .island-image {
        margin-left: 5px;
        width: 20px;
        height: 20px;
    }

    .island-heading {
        display: none;
        color: #fff;
        font-size: 0.8em;
        margin-left: 10px;
    }
}



.active {
    .content {
        display: flex;
    }
}

.content {
    color: #fff;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}
.details {
    display: flex;
    align-items: center;
}
.imgbox {
    width: 25px;
    height: 25px;
    position: relative;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.island-image {
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.textBox {
    margin-left: 10px;
}
.heading {
    font-weight: 900;
}
.text {
    color: gray;
    font-size: 0.8em;
}
